[buildout]
include-site-packages = false
relative-paths = true
unzip = true
newest = false
download-cache = .cache
develop = .
parts = python-distribution setup.py __init__.py scripts
python = python-distribution

[project]
name = infi.storagemodel
namespace_packages = ['infi']
install_requires = ['distribute', 'Brownie', 'daemon', 'infi.instruct >= 0.5.9', 'infi.hbaapi >= 0.1.14', 'infi.asi >= 0.1.10', 'infi.devicemanager >= 0.1.7', 'infi.multipathtools >= 0.1.12', 'infi.wmpio >= 0.1.7', 'infi.pyutils >= 0.0.20', 'infi.dtypes.hctl', 'infi.dtypes.wwn', 'infi.mountoolinux >= 0.1.5', 'infi.parted >= 0.1.4', 'infi.sgutils >= 0.1', 'infi.diskmanagement >= 0.1.15', 'json_rest', 'infi.cwrap >= 0.2.3', ]
install_requires_windows = []
install_requires_linux = []
install_requires_macosx = []
version_file = src/infi/storagemodel/__version__.py
description = A high-level library for traversing the OS storage model.
long_description = A high-level cross-platform abstraction of the OS storage stack (LUNs, disks, volumes, etc).
console_scripts = ['devlist = infi.storagemodel.examples:devlist']
package_data = ['rescan-scsi-bus.sh', ]

[python-distribution]
recipe = infi.recipe.python:download
executable = parts/python/bin/python
download-base = ftp://ci.infinidat.com/workspace/python
version = v2.7.2.1

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__init__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}
input = inline:
	__version__ = "${infi.recipe.template.version:version}"

[scripts]
recipe = zc.recipe.egg
relative-paths = true
unzip = true
dependent-scripts = true
eggs = ${project:name}
	ipython
	nose
	mock
	redgreen
	coverage
	infi.unittest
	infi.traceback
	snort
	sphinx
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
project-directory = ${buildout:directory}
python-version = 2.7
source-resources = ${buildout:directory}/src

[pydev]
recipe = pb.recipes.pydev
eggs = ${scripts:eggs}

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

